rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /accounts/{userId} {
      allow read: if request.auth != null
        && request.auth.uid == userId;
      allow write: if false;
    }

    match /daily_metrics/{docId} {
      allow read: if request.auth != null
        && resource.data.cast_id == request.auth.uid;
      allow write: if false;
    }

    match /post_hourly_metrics/{docId} {
      allow read: if request.auth != null
        && resource.data.cast_id == request.auth.uid;
      allow write: if false;
    }

    match /notifications/{docId} {
      allow read: if request.auth != null
        && resource.data.recipient_id == request.auth.uid;
      allow write: if false;
    }

    match /stores/{storeId} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}
